*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    background:  linear-gradient(136.16deg, rgba(46, 9, 22, 0.97) 12.91%, rgba(32, 10, 43, 0.69) 87.68%);;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 40px ;
    height: 85px;
}
header .BrandInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .BrandInfo h2{
    color: white;
    margin: 20px;
    font-weight: 700;
    font-size: 14px;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.navlinks a{
    padding: 10px ;
    color: #FF5B79;
}
.navlinks a:nth-child(5){
    border: 1px solid #FF5B79;
    border-radius: 50px;
}