*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 40px ;
}
.BrandInfo{
    display: flex;
}
.navlinks{
    display: flex;
}